@font-face {
	font-family: tahamtan;
	src: url(./resources/Tahamtan.woff);
}

@font-face {
	font-family: katibeh;
	src: url(./resources/katibeh\ web.woff);
}

@font-face {
	font-family: kalameh;
	src: url(./resources/KalamehWeb/woff/KalamehWeb_Regular.woff);
	font-weight: normal;
}

@font-face {
	font-family: kalameh-thin;
	src: url(./resources/KalamehWeb/woff/KalamehWeb_thin.woff);
	font-weight: lighter;
}

@font-face {
	font-family: kalameh-black;
	src: url(./resources/KalamehWeb/woff/KalamehWeb_Black.woff);
	font-weight: bolder;
}

@font-face {
	font-family: kalameh-bold;
	src: url(./resources/KalamehWeb/woff/KalamehWeb_Bold.woff);
	font-weight: bolder;
}

.wrap {
	position: relative;
	height: 50vh;
	align-items: center;
	justify-content: center;
	justify-self: center;
	width: 50%;
	margin: auto 25%;
	box-sizing: content-box;
	margin-top: -6%;
}

h1 {
	font-family: katibeh;
	color: #fff;
	font-size: 520px;
	padding: 40px 30px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	align-self: auto;
	text-align: center;
	text-shadow: 6px 6px 11px rgb(20, 20, 20);
}

.drop {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px);
	margin: 0 auto;
	overflow: hidden;
}

.drop1 {
	width: 100%;
	height: 0;
	box-sizing: border-box;
	padding-top: 56.25%;
	left: 0;
	right: 0;
	z-index: 2;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
	color: white;
	border: solid 2px transparent;
	overflow: hidden;
}

.sidebar {
	top: 0px;
	right: 0;
	z-index: 2;
	height: 100vh;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	float: right;
	margin: 0px;
	padding: 0px;
	border-radius: 5px 0px 0 5px;
	position: relative;
	display: inline-block;
	flex-shrink: 0;
	flex-grow: 1;
}

.menu-item {
	height: 40px;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	color: white;
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: right;
	padding: 8px;
	vertical-align: center;
	align-self: center;
	cursor: pointer;
	align-content: center;
	font-size: 100%;
	font-family: kalameh-bold;
}

.pattern-horizontal-lines-sm {
	height: 23.5vw !important;
	z-index: 2;
	position: absolute;
	left: 0 !important;
	bottom: 23.5vw !important;
}

.uni-name {
	float: left;
}

.uni-name-farsi {
	padding-top: 0.6vw;
	font-weight: 600;
	font-family: kalameh-bold !important;
	font-size: 2vw !important;
}

.uni-name-eng {
	font-size: 1vw !important;
	margin-top: 0.5vw !important;
}

.uni-form {
	height: 28vw !important;
	bottom: 16vw !important;
	padding: 0.2vw 3vw 0.2vw 1vw !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
	align-content: flex-start;
}

.uni-building {
	height: 25vw !important;
	top: -23vw !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}

label {
	font-family: kalameh-bold !important;
	font-size: 1vw !important;
	text-align: right;
	float: right;
	display: block;
	padding: 3px !important;
	margin: 0 !important;
}

.info-field {
	background-color: rgba(255, 255, 255, 0.3);
	color: black;
	font-family: kalameh-bold !important;
	font-size: 1vw !important;
	width: 100%;
	height: 1.5vw !important;
	margin: 0 !important;
	padding: 3px 5px !important;
}

.form-group {
	margin: 0px !important;
}

.sidebar img {
	padding: 0%;
	width: 70%;
	margin: 20% 15%;
	-webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.3));
	filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.3));
}

.person {
	width: 86% !important;
	bottom: 4% !important;
	left: 7% !important;
	position: absolute;
	border-radius: 3px;
	-webkit-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
	box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
}

.imam {
	width: 7vw !important;
	top: 1.3vw !important;
	left: 12% !important;
	position: absolute;
}

.card-bar {
	position: absolute;
	top: 0;
	width: 100%;
	margin: auto 0px !important;
	height: 5vw !important;
}

.top-info {
	font-family: kalameh-black;
	size: 40%;
}

.row {
	width: 100%;
	height: 100vh;
	margin: auto 0 !important;
}

#termix-logo {
	width: 200px;
	margin: 40px auto;
	display: flex;
	top: 0;
}

.department-div {
	width: 250px;
	height: 100%;
	z-index: 2;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	background-color: white;
	margin: 0px;
	padding: 5%;
	border-radius: 5px;
	position: relative;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex-grow: 1;
}

.custom-select {
	padding-right: 25px !important;
	height: 4rem !important;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	border-radius: 5px !important;
	position: relative;
	font-family: kalameh-bold;
	font-size: 110% !important;
}
.courses-container {
	width: 100%;
	height: 100%;
	z-index: 2;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	background-color: white;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
	position: relative;
	background: linear-gradient(
		130deg,
		#ff781850,
		#af002c69 41.07%,
		#3190976e 76.05%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex-grow: 1;
	-webkit-box-shadow: inset 0px 0px 34px 8px rgba(0, 0, 0, 0.69);
	box-shadow: inset 0px 0px 34px 8px rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	overflow-y: auto;
}

.course {
	height: max-content !important;
	min-height: 30px !important;
	width: 95%;
	padding: 7px;
	text-align: center;
	margin: 2%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	font-size: 90%;
	font-family: kalameh-bold;
	cursor: pointer;
	transition: background-color 0.2s;
	transition: border 0.2s;
}

.course:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid rgba(255, 255, 255, 0.3);
	transition: background-color 0.2s;
	transition: border 0.2s;
}

.table-container {
	z-index: 2;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	background-color: white;
	padding: 3%;
	border-radius: 10px;
	position: relative;
	background: linear-gradient(
		130deg,
		#ff781850,
		#af002c4b 41.07%,
		#31909746 76.05%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex-grow: 1;
	-webkit-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.69);
	box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.section-title {
	font-family: katibeh;
	font-size: 2vw;
	padding: 3vh;
	align-self: flex-start;
}

th {
	font-family: kalameh-bold !important;
	font-size: 1vw !important;
	color: white;
	justify-content: center;
	align-content: center;
	text-align: center !important;
}

.table {
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	text-align: center !important;
}

td {
	font-family: kalameh !important;
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.1vw !important;
}

.timetable-container {
	height: 100%;
	z-index: 2;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	position: relative;
	background: linear-gradient(
		130deg,
		#ff781850,
		#af002c4b 41.07%,
		#31909746 76.05%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex-grow: 1;
	-webkit-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.69);
	box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	overflow-y: auto;
	overflow: hidden;
	padding: 5px 3%;
	margin-left: 1%;
}

.main-section {
	min-height: 100vh !important;
	overflow: auto !important;
}

.timetable {
	/* height: 100% !important; */
	flex-grow: 1;
	width: 100%;
	display: grid;
	grid-template-columns: 3vw repeat(6, 1fr) !important;
	grid-template-rows: 5rem repeat(26, 1fr) !important;
	column-gap: 1rem;
	/* background-color: rgba(255, 255, 255, 0.2); */
	border-radius: 10px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-content: flex-start;
	padding: 15px;
}

.weekdays {
	font-family: katibeh;
	font-size: 1.5vw;
	text-shadow: none;
}

#form-dialog-title {
	color: black;
	font-family: kalameh-black;
	font-size: 2vw;
	margin-top: 20px;
	text-shadow: none;
}

.empty-cell {
	background-color: rgba(255, 255, 255, 0.2);
	justify-self: stretch;
	align-self: stretch;
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.course-card {
	/* background-color: rgba(197, 11, 11, 0.4); */
	/* background: linear-gradient(130deg, #ff781859, #af002c7c 41.07%); */
	border: 3px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	padding: 2px;
	justify-self: stretch;
	justify-content: center;
	align-self: stretch;
	max-height: 100% !important;
	/*grid-row: 4 / span 4;
	grid-column: 3;*/
	backdrop-filter: blur(10px);
	overflow: hidden;
	z-index: 1;
	font-family: kalameh-bold;
	transition: box-shadow 0.3s ease-in-out, filter 0.2s ease-in-out;
}

.course-card:hover {
	box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
	filter: saturate(2);
	z-index: 999 !important;
}

.class-attributes {
	width: 100% !important;
	text-align: center !important;
}

.class-attributes:nth-child(2) {
	font-size: 0.9vw;
}

.class-attributes:nth-child(3) {
	font-size: 1.1vw;
	font-family: kalameh-black;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.class-attributes:nth-child(4) {
	font-size: 0.8vw;
	font-family: kalameh-bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.delete-icon-timetable {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	transition: color 0.5s;
}

.delete-icon-timetable:hover {
	color: rgb(255, 0, 0);
	transform: scale(1.1);
}

.grid-col {
	grid-row: 2 / span 26;
	background-color: rgba(255, 255, 255, 0.2);
	justify-self: stretch;
	align-self: stretch;
	max-width: calc((100%));
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.clock {
	grid-column: 1;
	grid-row: auto / span 2;
	align-self: flex-start;
	margin-top: -0.9vh !important;
	word-wrap: nowrap;
	font-size: 2vh !important;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	opacity: 0.7;
}

.small-logo {
	display: none;
}

.search-course div label {
	width: max-content !important;
	font-size: 1.3vw !important;
	text-align: center;
}

.timetable-responsive {
	display: none;
}

.delete-icon :hover {
	color: tomato !important;
	cursor: pointer;
}

.delete-icon * {
	font-size: 2vh;
}

.Toastify__toast-container * {
	font-family: kalameh-bold !important;
}

section {
	height: 100vh !important;
	width: 100vw !important;
	display: flex;
	position: absolute;
	flex-grow: 1;
	align-items: flex-start !important;
	padding-top: 5vh !important;
	justify-content: center !important;
	color: white !important;
	z-index: 999999;
}

#add-button {
	padding: 1px 2px 3px 10px !important;
	justify-content: center !important;
	align-items: center !important;
	display: flex;
	border-radius: 50px;
	font-size: 120%;
	color: #fff !important;
	background: linear-gradient(-90deg, #ff7818b2, #af002cb2 41.07%);
	border: 2px solid rgba(255, 255, 255, 0.5);
	transition: transform 0.3s ease-in-out;
}

#add-button:hover {
	filter: saturate(1.6);
	transform: scaleX(1.05);
}

#add-button span {
	padding: 10px !important;
	font-size: 50%;
	vertical-align: middle;
	text-align: center;
	color: #ff7a18;
	background: #ffffff;
	margin-left: 4px;
}

@media only screen and (max-width: 800px) {
	.responsive-timetable-container {
		height: calc(100% - 190px) !important;
		max-height: calc(100% - 190px) !important;
	}

	.search-course {
		margin-top: 10px !important;
		flex-direction: column;
		height: 150px !important;
	}

	.search-course div {
		margin: 3px;
		width: 100% !important;
		height: 35% !important;
	}

	.search-course div:nth-child(3) {
		width: fit-content !important;
		height: 30% !important;
	}

	.search-course div select {
		width: 100% !important;
		height: 100% !important;
	}

	.search-course div label {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.sidebar {
		width: 80px !important;
	}

	th:nth-child(8),
	th:nth-child(9) {
		display: none;
	}

	tr td:nth-child(8),
	tr td:nth-child(9) {
		display: none;
	}
	.menu-items-text {
		display: none;
	}

	.menu-item > :first-child {
		font-size: 140%;
		text-align: center !important;
		margin-left: 0px !important;
	}

	.menu-item {
		justify-content: center;
	}

	.search-course div label {
		font-size: 100% !important;
	}

	.small-logo {
		display: block;
		width: 50% !important;
		margin: 25% !important;
	}

	.big-logo {
		display: none !important;
	}

	#timetable-container,
	#department-parent {
		display: none !important;
	}

	.timetable-responsive {
		display: block;
	}
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	overflow: visible;
	border-radius: 5px;
	background-color: #f5f5f556;
}

*::-webkit-scrollbar {
	width: 12px;
	border-radius: 5px;
	background-color: #f5f5f500;
	backdrop-filter: blur(5px);
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
	background: linear-gradient(
		-130deg,
		#ff7a18,
		#af002d 41.07%,
		#319197 76.05%
	);
}
